{% extends '::base.html.twig' %}

{% block body %}
    <h1>Ekosistema berri bat sortu</h1>

    {{ form(form, { 'attr' : {'class':'smart-green'} }) }}

        <ul class="record_actions">
</ul>
{% endblock %}
