{# {% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ekosistema</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Izenburua</th>
                <td>{{ entity.izenburua }}</td>
            </tr>
            <tr>
                <th>Deskripzioa</th>
                <td>{{ entity.deskripzioa }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ekos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ekos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %} #}
{% extends '::base.html.twig' %}

{% block body %}
    
    <div id="ekosInfo">
        <h2>{{ entity.izenburua }}</h2>
        <span>{{ entity.deskripzioa }} - </span>
        <span class="zenbatFruitu">{{ fruituak|length }} fruitu daude ekosistema hontan</span><br>
        <a href="{{ path('sortu_ekosisteman', {'id': entity.id }) }}"><span class="egilea">Ekosistema hontan fruitu bat sortu.</span></a>
    </div>

    <div id="switchWrapper">
        
    </div>

    <div class="fruituWrapper">
        {% for fruitu in fruituak %}
            <div class="fruitu">
                <h2><a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}">{{ fruitu.izenburua }}</a></h2>
                <hr>
                <div class="edukiFruitu">{{ fruitu.edukia|slice(0,500)|markdown }}</div>
                <div class="infoFruitu">
                    <a href="{{ path('erab_show', {'id': fruitu.egilea.id }) }}"><span class="egilea">{{ fruitu.egilea }}</span></a>
                    <a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}"><span class="hazitag">
                    {% if fruitu.haziak|length == 1 %}
                    hazi  1
                    {% elseif fruitu.haziak|length < 1 %}
                    hazirik ez
                    {% else %}
                    {{ fruitu.haziak|length }}  hazi
                    {% endif %}
                    </span></a>

                     {% if '.' in fruitu.ruta %}
                        {% set hedapena = fruitu.ruta|split('.') %}

                        {% if hedapena[1] == 'torrent' %}

                            <a href="{{ path('torrent_download', {'slug': fruitu.slug }) }}"><span class="torrentag">torrent</span></a>

                        {% elseif hedapena[1] == 'jpg' or hedapena[1] == 'png' or hedapena[1] == 'jpeg' %}

                            <a href="{{ path('view_image', {'slug': fruitu.slug }) }}"><span class="imagetag">irudia</span></a>
                            
                        {% endif %}
                        
                    {% endif %}
                    </span></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
