{% extends '::base.html.twig' %}

{% block body %}
    
    <div id="ekosInfo">
        <h2>{{ entity.izenburua }}</h2>
        <span>{{ entity.deskripzioa }} - </span>
        <span class="zenbatFruitu">{{ pagination|length }} fruitu daude ekosistema hontan</span><br>
        <a href="{{ path('sortu_ekosisteman', {'id': entity.id }) }}"><span class="ekosisteman">Ekosistema hontan fruitu bat sortu</span></a>
    </div>

    <div id="switchWrapper">
        
    </div>

    <div class="fruituWrapper">
        {% for fruitu in pagination %}
            <div class="fruitu">
                <h2><a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}">{{ fruitu.izenburua }}</a></h2>
                <hr>
                <div class="edukiFruitu">{{ fruitu.edukia|slice(0,500)|markdown }}</div>
                <div class="infoFruitu">
                    <a href="{{ path('erab_show', {'id': fruitu.egilea.id }) }}"><span class="egilea">{{ fruitu.egilea }}</span></a>
                    <a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}"><span class="hazitag">
                    {% if fruitu.haziak|length == 1 %}
                    hazi  1
                    {% elseif fruitu.haziak|length < 1 %}
                    hazirik ez
                    {% else %}
                    {{ fruitu.haziak|length }}  hazi
                    {% endif %}
                    </span></a>

                     {% if '.' in fruitu.ruta %}
                        {% set hedapena = fruitu.ruta|split('.') %}

                        {% if hedapena[1] == 'torrent' %}

                            <a href="{{ path('torrent_download', {'slug': fruitu.slug }) }}"><span class="torrentag">torrent</span></a>

                        {% elseif hedapena[1] == 'jpg' or hedapena[1] == 'png' or hedapena[1] == 'jpeg' %}

                            <a href="{{ path('view_image', {'slug': fruitu.slug }) }}"><span class="imagetag">irudia</span></a>
                            
                        {% endif %}
                        
                    {% endif %}
                    </span></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}