{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Izena eman ezazu!</h1>
	<p>Erabiltzaile-izena eta pasahitz bat besterik ez duzu behar :)</p>
    {{ form(form, { 'attr' : {'class':'smart-green'} }) }}
{% endblock %}
