{% extends '::base.html.twig' %}

{% block body %}
    
    <!-- <div class="fruituBat"> -->
        
        <h1>{{ entity.username }} erabiltzailea </h1>
        <span class="zenbatFruitu">{{ entity.fruituak|length }} fruitu eta {{ entity.haziak|length }} hazi partekatu ditu erabiltzaile honek...</span><br>

        {% for fruitu in entity.fruituak %}

            <div class="fruitu">
                <h2><a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}">{{ fruitu.izenburua }}</a></h2>
                <hr>
                <div class="edukiFruitu">{{ fruitu.edukia|slice(0,500)|markdown }}</div>
                <div class="infoFruitu">
                    {# <img src="{{ asset('assets/ikono/ekos.png') }}"> #}
                    <a href="{{ path('ekos_show', {'id': fruitu.ekosisteman.id }) }}"><span class="ekosisteman">{{ fruitu.ekosisteman }}</span></a>
                    <a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}"><span class="hazitag">
                    {% if fruitu.haziak|length == 1 %}
                    hazi  1
                    {% elseif fruitu.haziak|length < 1 %}
                    hazirik ez
                    {% else %}
                    {{ fruitu.haziak|length }}  hazi
                    {% endif %}
                    </span></a>
                     
                    {% set hedapena = fruitu.ruta|split('.') %}

                    {% if hedapena[1] == 'torrent' %}

                        <a href="{{ path('torrent_download', {'slug': fruitu.slug }) }}"><span class="torrentag">torrent</span></a>

                    {% elseif hedapena[1] == 'jpg' or hedapena[1] == 'png' or hedapena[1] == 'jpeg' %}

                        <a href="{{ path('view_image', {'slug': fruitu.slug }) }}"><span class="imagetag">irudia</span></a>
                        
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    <!-- </div> -->

{% endblock %}

{# {% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password|slice(0,20) }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('erab') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('erab_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %} #}
