<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Biome :: Partekatu gustokoen duzuna!{% endblock %}</title>
        {% block stylesheets %}
		<link href="{{ asset('assets/css/main.css') }}" type='text/css' rel='stylesheet'>
		<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Alegreya+Sans+SC:400,700' rel='stylesheet' type='text/css'>
	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<div id='container'>
		<div id='header'>
			<img src="{{ asset('assets/images/logo2.png') }}" alt="Logo">
			<nav>
				<div class="nabigatu">
					<a href="{{ path('biome_homepage') }}">hasiera</a>
					<a href="{{ path('ezagutu') }}">ezagutu</a>
					<a href="{{ path('fruitu_new') }}">sortu</a>
					<a href="{{ path('login') }}">batu</a><br />
					<input type="text" id="bilatu" name"bilatu" placeholder="Bilatu gustokoen duzuna...">
				</div>
			</nav>
		</div>
	</div>
	{% for flashMessage in app.session.flashbag.get('jakinarazpena') %}
    <div class="flash-jakinarazpena">
        {{ flashMessage }}
    </div>
	{% endfor %}
	<div id="content">
		{% block body %}{% endblock %}
		{% block javascripts %}
		<script src="{{ asset('assets/js/main.js') }}"></script>
		{% endblock %}
	</div>
    </body>
</html>
