{% extends '::base.html.twig' %}

{% block body %}
    {% if error %}
        <div class='error'>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="smart-green">
        <label for="username">Erabiltzaile izena</label><br>
        <input type="text" id="username" name="_username" /><br>
        <label for="password">Pasahitza</label><br>
        <input type="password" id="password" name="_password" /><br>

        <button type="submit">Sartu</button><br>
        <a href="{{ path('erab_new') }}" class="ahaundi">Oraindik ez al zara bazkide?</a>
    </form>
{% endblock %}