{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fruitua edit</h1>

    {{ form(edit_form, { 'attr': { 'class' : 'smart-green'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fruitu') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
