{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fruitua list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Izenburua</th>
                <th>Edukia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fruitu_show', { 'slug': entity.slug }) }}">{{ entity.slug }}</a></td>
                <td>{{ entity.izenburua }}</td>
                <td>{{ entity.edukia }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fruitu_show', { 'slug': entity.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('fruitu_edit', { 'slug': entity.slug }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fruitu_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
