{% extends '::base.html.twig' %}

{% block body %}
    <div class="fruituBat">
        <h2>{{ entity.izenburua }}</h2>
        <div id="propWrapper">
        <a href="{{ path('ekos_show', {'id': entity.ekosisteman.id }) }}"><span class="ekosisteman">{{ entity.ekosisteman }}</span></a>
        <a href="{{ path('erab_show', {'id': entity.egilea.id }) }}"><span class="egilea">{{ entity.egilea }}</span></a>
        </div>
        <hr>
        <span id="edukia">{{ entity.edukia|markdown }}</span>

        {% if '.' in entity.ruta %}
            {% set hedapena = entity.ruta|split('.') %}
            {% if hedapena[1] == 'torrent' %}

                <a href="{{ path('torrent_download', {'slug': entity.slug }) }}"><span class="torrentag">torrent</span></a>

            {% elseif hedapena[1] == 'jpg' or hedapena[1] == 'png' or hedapena[1] == 'jpeg' %}

                <img src="/fruitu/{{ entity.slug }}/dlt" alt="{{ entity.ruta }}">
                        
            {% endif %}
        {% endif %}
    </div>
    <div class="iruzkinak">
        {{ form(form, { 'attr' : {'class':'smart-green'} }) }}

        {% for hazia in haziak %}
           <div class="haziaWrapper">
               <a href="{{ path('erab_show', {'id': hazia.egilea.id }) }}"><span class="egilea">{{ hazia.egilea }}</span></a><br>
               <div class="iruzkina">{{ hazia.iruzkina|markdown }}</div>
           </div> 
        {% endfor %}
    </div>
{% endblock %}