<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ ent.izenburua }}</title>
	</head>
	<body>
		    {#{% image '@BiomeBundle/Resources/public/images/' %}
                <img src="{{ asset_url ~ ent.ruta }}" alt="{{ asset_url ~ ent.ruta }}" />

            {% endimage %}#}
            <img src="/fruitu/{{ ent.slug }}/dlt" alt="{{ ent.ruta }}">

	</body>
	</html>	