{% extends '::base.html.twig' %}

{% block body %}
	
	<div id="deskWrapper"><span id="ezagutuDesk">Ikusi azken aldi hontan faunak gustokoen izan duena. Animatu zure iritzia partekatzera!</span></div>

	<div id="switchWrapper">
		
	</div>

	<div class="fruituWrapper">
		{% for fruitu in fruituak %}
		    <div class="fruitu">
		    	<h2><a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}">{{ fruitu.izenburua }}</a></h2>
		    	<hr>
		    	<div class="edukiFruitu">{{ fruitu.edukia|slice(0,500)|markdown }}</div>
		    	<div class="infoFruitu">
			    	{# <img src="{{ asset('assets/ikono/ekos.png') }}"> #}
			    	<a href="{{ path('ekos_show', {'id': fruitu.ekosisteman.id }) }}"><span class="ekosisteman">{{ fruitu.ekosisteman }}</span></a>
			    	<a href="{{ path('erab_show', {'id': fruitu.egilea.id }) }}"><span class="egilea">{{ fruitu.egilea }}</span></a>
			    	<a href="{{ path('fruitu_show', {'slug': fruitu.slug }) }}"><span class="hazitag">
					{% if fruitu.haziak|length == 1 %}
					hazi  1
					{% elseif fruitu.haziak|length < 1 %}
					hazirik ez
					{% else %}
					{{ fruitu.haziak|length }}  hazi
					{% endif %}
			    	</span></a>
			    	 
			    	{% set hedapena = fruitu.ruta|split('.') %}

					{% if hedapena[1] == 'torrent' %}

						<a href="{{ path('torrent_download', {'slug': fruitu.slug }) }}"><span class="torrentag">torrent</span></a>

					{% elseif hedapena[1] == 'jpg' or hedapena[1] == 'png' or hedapena[1] == 'jpeg' %}

						<a href="{{ path('view_image', {'slug': fruitu.slug }) }}"><span class="imagetag">irudia</span></a>
						
					{% endif %}
			    </div>
		    </div>
		{% endfor %}
	</div>
{% endblock %}