{% extends '::base.html.twig' %}
{% block body %}
	<div class="jumbo">
		<h2>Ongi etorri Biomera
		{% if app.user %}
			, {{ app.user.username }}
		{% endif %}
		!</h2>
		<div id="testunagusiWrap">
			<p>Hemen gustokoen duzuna partekatu dezakezu, betiere zure edukia zurea dela kontuan hartuz. Biomeren ituruburu-kodea <b>irekia da</b>, eta edonork alda dezake Git biltegia erabiliz. Momentu hontan aldaketa handiak jasaten ari da; zure informazioa ahuntz edota marrazo batek jaten badu, ez esan ez zaitugula abisatu!</p>
			<br>
			<p>Zure fruituetan <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown sintaxia</a> erabil dezakezu. Fruitu bat sortzean irudi edo torrent bat partekatzeko aukera duzu.</p>
		</div>
		<div id="estekaLeku">
			<a href="{{ path('erab_new') }}">Batu zaitez</a>
			<a href="{{ path('ezagutu') }}">Esploratu ekosistemak...</a>
			<a href="{{ path('ekos_new') }}">...edo sortu ezazu bat!</a>
			<a href="https://gitlab.com/mrenek/biome" target="_blank">Git biltegia bistaratu</a>
		</div>
	</div>
{% endblock %}
